<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c95b4f4d37f043d7a3ace31c8537eb69 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/npm/leaflet-ant-path@1.1.2/dist/leaflet-ant-path.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_c95b4f4d37f043d7a3ace31c8537eb69" ></div>
        
</body>
<script>    
    
            var map_c95b4f4d37f043d7a3ace31c8537eb69 = L.map(
                "map_c95b4f4d37f043d7a3ace31c8537eb69",
                {
                    center: [1.40527, 103.90236],
                    crs: L.CRS.EPSG3857,
                    zoom: 50,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_364a295dec784607bade169426e9f295 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c95b4f4d37f043d7a3ace31c8537eb69);
        
    
            var circle_marker_304930249ae6434aa1db2189258e792d = L.circleMarker(
                [1.40370629859822, 103.90224337575333],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_c95b4f4d37f043d7a3ace31c8537eb69);
        
    
            circle_marker_304930249ae6434aa1db2189258e792d.bindTooltip(
                `<div>
                     Punggol Temp Int
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_dd0d18d40b164edcad509a0ee0dc66f1 = L.circleMarker(
                [1.403116263, 103.9022874],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_c95b4f4d37f043d7a3ace31c8537eb69);
        
    
            circle_marker_dd0d18d40b164edcad509a0ee0dc66f1.bindTooltip(
                `<div>
                     274B PUNGGOL PLACE PUNGGOL REGALIA SINGAPORE 822274
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_ca9975b5cc2c4bc1a718d630378b974e = L.circleMarker(
                [1.40326663804865, 103.90325880013292],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_c95b4f4d37f043d7a3ace31c8537eb69);
        
    
            circle_marker_ca9975b5cc2c4bc1a718d630378b974e.bindTooltip(
                `<div>
                     Aft Punggol Ctrl
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_7026188fda594b82a94e4fcfb85d0f6c = L.circleMarker(
                [1.402039057, 103.9035327],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_c95b4f4d37f043d7a3ace31c8537eb69);
        
    
            circle_marker_7026188fda594b82a94e4fcfb85d0f6c.bindTooltip(
                `<div>
                     289D PUNGGOL PLACE PUNGGOL ARCADIA SINGAPORE 824289
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_c2eb5469a71549d09d30248b6fe8be07 = L.circleMarker(
                [1.40083471013366, 103.903580214986],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_c95b4f4d37f043d7a3ace31c8537eb69);
        
    
            circle_marker_c2eb5469a71549d09d30248b6fe8be07.bindTooltip(
                `<div>
                     Opp Blk 201A
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_391eb2dc30dc4a5089a0c1f505fb72eb = L.circleMarker(
                [1.39885650320272, 103.90662105241732],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_c95b4f4d37f043d7a3ace31c8537eb69);
        
    
            circle_marker_391eb2dc30dc4a5089a0c1f505fb72eb.bindTooltip(
                `<div>
                     Cove Stn Exit B
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a7d701eb44b847e68c82f8b3b95bdb08 = L.circleMarker(
                [1.397946168, 103.9059451],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_c95b4f4d37f043d7a3ace31c8537eb69);
        
    
            circle_marker_a7d701eb44b847e68c82f8b3b95bdb08.bindTooltip(
                `<div>
                     101A PUNGGOL FIELD HDB-PUNGGOL SINGAPORE 821101
                 </div>`,
                {"sticky": true}
            );
        
    
            ant_path_f52489dad4594d15afa333b4e3c5d673 = L.polyline.antPath(
              [[1.40370629859822, 103.90224337575333], [1.403116263, 103.9022874], [1.40326663804865, 103.90325880013292], [1.402039057, 103.9035327], [1.40083471013366, 103.903580214986], [1.39885650320272, 103.90662105241732], [1.397946168, 103.9059451]],
              {"bubblingMouseEvents": true, "color": "#0000FF", "dashArray": [10, 20], "dashOffset": null, "delay": 400, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "hardwareAcceleration": false, "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "paused": false, "pulseColor": "#FFFFFF", "reverse": false, "smoothFactor": 1.0, "stroke": true, "weight": 5}
        ).addTo(map_c95b4f4d37f043d7a3ace31c8537eb69);
        
</script>