<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fb352f97177440569e5555946d55f644 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/npm/leaflet-ant-path@1.1.2/dist/leaflet-ant-path.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_fb352f97177440569e5555946d55f644" ></div>
        
</body>
<script>    
    
            var map_fb352f97177440569e5555946d55f644 = L.map(
                "map_fb352f97177440569e5555946d55f644",
                {
                    center: [1.40527, 103.90236],
                    crs: L.CRS.EPSG3857,
                    zoom: 50,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8a8b9615398649999ded932b619a3b59 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_fb352f97177440569e5555946d55f644);
        
    
            var circle_marker_3190f2e3d0a041c5b45436856f0725d3 = L.circleMarker(
                [1.40527, 103.90236],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_fb352f97177440569e5555946d55f644);
        
    
            circle_marker_3190f2e3d0a041c5b45436856f0725d3.bindTooltip(
                `<div>
                     NE17 PTC Punggol
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b153b504c4614d4791e049c112cb18c5 = L.circleMarker(
                [1.403116263, 103.9022874],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_fb352f97177440569e5555946d55f644);
        
    
            circle_marker_b153b504c4614d4791e049c112cb18c5.bindTooltip(
                `<div>
                     274B PUNGGOL PLACE PUNGGOL REGALIA SINGAPORE 822274
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a693adcd65c54bb4a59dda86c4f424ff = L.circleMarker(
                [1.402736207, 103.9023521],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_fb352f97177440569e5555946d55f644);
        
    
            circle_marker_a693adcd65c54bb4a59dda86c4f424ff.bindTooltip(
                `<div>
                     274A PUNGGOL PLACE PUNGGOL REGALIA SINGAPORE 821274
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_7d5cefec6bb24acaad2c0736b910eb65 = L.circleMarker(
                [1.402377994, 103.9030395],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_fb352f97177440569e5555946d55f644);
        
    
            circle_marker_7d5cefec6bb24acaad2c0736b910eb65.bindTooltip(
                `<div>
                     288A PUNGGOL PLACE PUNGGOL ARCADIA SINGAPORE 821288
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_40b81490da134cfc88a9e8bcfb32ab8c = L.circleMarker(
                [1.402550903, 103.9035571],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_fb352f97177440569e5555946d55f644);
        
    
            circle_marker_40b81490da134cfc88a9e8bcfb32ab8c.bindTooltip(
                `<div>
                     288C PUNGGOL PLACE PUNGGOL ARCADIA SINGAPORE 823288
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_18d4ae8ac78e4d97b5d5de43d1ead8d2 = L.circleMarker(
                [1.402841615, 103.9040368],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_fb352f97177440569e5555946d55f644);
        
    
            circle_marker_18d4ae8ac78e4d97b5d5de43d1ead8d2.bindTooltip(
                `<div>
                     90 PUNGGOL CENTRAL PARC CENTROS SINGAPORE 828722
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_2b0a1bc585034c16b27b929eecd99097 = L.circleMarker(
                [1.402571817, 103.9046355],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_fb352f97177440569e5555946d55f644);
        
    
            circle_marker_2b0a1bc585034c16b27b929eecd99097.bindTooltip(
                `<div>
                     294 PUNGGOL CENTRAL PUNGGOL GROVE SINGAPORE 820294
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_0538dfc0086642ceac07d4d1864afc0d = L.circleMarker(
                [1.401886208, 103.9049173],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_fb352f97177440569e5555946d55f644);
        
    
            circle_marker_0538dfc0086642ceac07d4d1864afc0d.bindTooltip(
                `<div>
                     295 PUNGGOL CENTRAL PUNGGOL GROVE SINGAPORE 820295
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_584e97c8c4c343e097c4f76f3b1614fc = L.circleMarker(
                [1.401588191, 103.9052652],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_fb352f97177440569e5555946d55f644);
        
    
            circle_marker_584e97c8c4c343e097c4f76f3b1614fc.bindTooltip(
                `<div>
                     296 PUNGGOL CENTRAL PUNGGOL GROVE SINGAPORE 820296
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b14cea21ffbf4a4882903a1dd5155e2c = L.circleMarker(
                [1.400647082, 103.9060066],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_fb352f97177440569e5555946d55f644);
        
    
            circle_marker_b14cea21ffbf4a4882903a1dd5155e2c.bindTooltip(
                `<div>
                     195A PUNGGOL ROAD THE PERIWINKLE SINGAPORE 821195
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d7abe1acb00b434e80d538e08fd601cd = L.circleMarker(
                [1.399772996, 103.9060012],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_fb352f97177440569e5555946d55f644);
        
    
            circle_marker_d7abe1acb00b434e80d538e08fd601cd.bindTooltip(
                `<div>
                     199C PUNGGOL FIELD HDB-PUNGGOL SINGAPORE 823199
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d2316960a8cc4eb6a6e14600eca89cdd = L.circleMarker(
                [1.399085258, 103.9054714],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_fb352f97177440569e5555946d55f644);
        
    
            circle_marker_d2316960a8cc4eb6a6e14600eca89cdd.bindTooltip(
                `<div>
                     199A PUNGGOL FIELD HDB-PUNGGOL SINGAPORE 821199
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a44747edf0ce48558314ab3932095a36 = L.circleMarker(
                [1.398833183, 103.9057836],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_fb352f97177440569e5555946d55f644);
        
    
            circle_marker_a44747edf0ce48558314ab3932095a36.bindTooltip(
                `<div>
                     102B PUNGGOL FIELD HDB-PUNGGOL SINGAPORE 822102
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_f0315c7c7b52432a9145f61c69fff531 = L.circleMarker(
                [1.398484785, 103.9061439],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_fb352f97177440569e5555946d55f644);
        
    
            circle_marker_f0315c7c7b52432a9145f61c69fff531.bindTooltip(
                `<div>
                     102A PUNGGOL FIELD HDB-PUNGGOL SINGAPORE 821102
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_ebf31ba0327d4677b7f048a1c97675f7 = L.circleMarker(
                [1.397946168, 103.9059451],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_fb352f97177440569e5555946d55f644);
        
    
            circle_marker_ebf31ba0327d4677b7f048a1c97675f7.bindTooltip(
                `<div>
                     101D PUNGGOL FIELD HDB-PUNGGOL SINGAPORE 824101
                 </div>`,
                {"sticky": true}
            );
        
    
            ant_path_29d1bfa3baa142559b48273b15baeb76 = L.polyline.antPath(
              [[1.40527, 103.90236], [1.403116263, 103.9022874], [1.402736207, 103.9023521], [1.402377994, 103.9030395], [1.402550903, 103.9035571], [1.402841615, 103.9040368], [1.402571817, 103.9046355], [1.401886208, 103.9049173], [1.401588191, 103.9052652], [1.400647082, 103.9060066], [1.399772996, 103.9060012], [1.399085258, 103.9054714], [1.398833183, 103.9057836], [1.398484785, 103.9061439], [1.397946168, 103.9059451]],
              {"bubblingMouseEvents": true, "color": "#0000FF", "dashArray": [10, 20], "dashOffset": null, "delay": 400, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "hardwareAcceleration": false, "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "paused": false, "pulseColor": "#FFFFFF", "reverse": false, "smoothFactor": 1.0, "stroke": true, "weight": 5}
        ).addTo(map_fb352f97177440569e5555946d55f644);
        
</script>