<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e0ffa7fd01e54cf8a4d8a8878216a538 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/npm/leaflet-ant-path@1.1.2/dist/leaflet-ant-path.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_e0ffa7fd01e54cf8a4d8a8878216a538" ></div>
        
</body>
<script>    
    
            var map_e0ffa7fd01e54cf8a4d8a8878216a538 = L.map(
                "map_e0ffa7fd01e54cf8a4d8a8878216a538",
                {
                    center: [1.40527, 103.90236],
                    crs: L.CRS.EPSG3857,
                    zoom: 50,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7e341a7045964c29b31ccdd5dd9b374f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e0ffa7fd01e54cf8a4d8a8878216a538);
        
    
            var circle_marker_90209ab3cb634968aa1cbe91676fb313 = L.circleMarker(
                [1.40527, 103.90236],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_e0ffa7fd01e54cf8a4d8a8878216a538);
        
    
            circle_marker_90209ab3cb634968aa1cbe91676fb313.bindTooltip(
                `<div>
                     NE17 PTC Punggol
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_8161b581390b40d3838dc3cac7dc85b6 = L.circleMarker(
                [1.403116263, 103.9022874],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_e0ffa7fd01e54cf8a4d8a8878216a538);
        
    
            circle_marker_8161b581390b40d3838dc3cac7dc85b6.bindTooltip(
                `<div>
                     274B PUNGGOL PLACE PUNGGOL REGALIA SINGAPORE 822274
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_dff7d6a73dd24abba4470d2e7a6ae00c = L.circleMarker(
                [1.402736207, 103.9023521],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_e0ffa7fd01e54cf8a4d8a8878216a538);
        
    
            circle_marker_dff7d6a73dd24abba4470d2e7a6ae00c.bindTooltip(
                `<div>
                     274A PUNGGOL PLACE PUNGGOL REGALIA SINGAPORE 821274
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_5c02e76a9f6d4cf38986570cab66491a = L.circleMarker(
                [1.402377994, 103.9030395],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_e0ffa7fd01e54cf8a4d8a8878216a538);
        
    
            circle_marker_5c02e76a9f6d4cf38986570cab66491a.bindTooltip(
                `<div>
                     288A PUNGGOL PLACE PUNGGOL ARCADIA SINGAPORE 821288
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_5ad9926ac24b4bf1afc4a0b4bee94166 = L.circleMarker(
                [1.402550903, 103.9035571],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_e0ffa7fd01e54cf8a4d8a8878216a538);
        
    
            circle_marker_5ad9926ac24b4bf1afc4a0b4bee94166.bindTooltip(
                `<div>
                     288C PUNGGOL PLACE PUNGGOL ARCADIA SINGAPORE 823288
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_0e63889db6694f1897ef8941d55a4068 = L.circleMarker(
                [1.402841615, 103.9040368],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_e0ffa7fd01e54cf8a4d8a8878216a538);
        
    
            circle_marker_0e63889db6694f1897ef8941d55a4068.bindTooltip(
                `<div>
                     90 PUNGGOL CENTRAL PARC CENTROS SINGAPORE 828722
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_3953ff5901fd4b2c9770e2fb1f2c9fc4 = L.circleMarker(
                [1.402571817, 103.9046355],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_e0ffa7fd01e54cf8a4d8a8878216a538);
        
    
            circle_marker_3953ff5901fd4b2c9770e2fb1f2c9fc4.bindTooltip(
                `<div>
                     294 PUNGGOL CENTRAL PUNGGOL GROVE SINGAPORE 820294
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_46131837426a4308adbd9a3920e2fc7e = L.circleMarker(
                [1.401886208, 103.9049173],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_e0ffa7fd01e54cf8a4d8a8878216a538);
        
    
            circle_marker_46131837426a4308adbd9a3920e2fc7e.bindTooltip(
                `<div>
                     295 PUNGGOL CENTRAL PUNGGOL GROVE SINGAPORE 820295
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_2f360ebbbbd24266915a480297770e3c = L.circleMarker(
                [1.401588191, 103.9052652],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_e0ffa7fd01e54cf8a4d8a8878216a538);
        
    
            circle_marker_2f360ebbbbd24266915a480297770e3c.bindTooltip(
                `<div>
                     296 PUNGGOL CENTRAL PUNGGOL GROVE SINGAPORE 820296
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_549c4cfc8f9f4a929e76dde4383d0f87 = L.circleMarker(
                [1.400647082, 103.9060066],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_e0ffa7fd01e54cf8a4d8a8878216a538);
        
    
            circle_marker_549c4cfc8f9f4a929e76dde4383d0f87.bindTooltip(
                `<div>
                     195A PUNGGOL ROAD THE PERIWINKLE SINGAPORE 821195
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_1d2f3da7a7704086811868bdcd2c7dd3 = L.circleMarker(
                [1.399772996, 103.9060012],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_e0ffa7fd01e54cf8a4d8a8878216a538);
        
    
            circle_marker_1d2f3da7a7704086811868bdcd2c7dd3.bindTooltip(
                `<div>
                     199C PUNGGOL FIELD HDB-PUNGGOL SINGAPORE 823199
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_9fb8adf25bc04d409485ab3c8533f590 = L.circleMarker(
                [1.399085258, 103.9054714],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_e0ffa7fd01e54cf8a4d8a8878216a538);
        
    
            circle_marker_9fb8adf25bc04d409485ab3c8533f590.bindTooltip(
                `<div>
                     199A PUNGGOL FIELD HDB-PUNGGOL SINGAPORE 821199
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d788f6718ce043de82f7dd86926bcc18 = L.circleMarker(
                [1.398761278, 103.904939],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_e0ffa7fd01e54cf8a4d8a8878216a538);
        
    
            circle_marker_d788f6718ce043de82f7dd86926bcc18.bindTooltip(
                `<div>
                     102B PUNGGOL FIELD HDB-PUNGGOL SINGAPORE 822102
                 </div>`,
                {"sticky": true}
            );
        
    
            ant_path_51c4693fe6fb48a6bb531f9e6db50927 = L.polyline.antPath(
              [[1.40527, 103.90236], [1.403116263, 103.9022874], [1.402736207, 103.9023521], [1.402377994, 103.9030395], [1.402550903, 103.9035571], [1.402841615, 103.9040368], [1.402571817, 103.9046355], [1.401886208, 103.9049173], [1.401588191, 103.9052652], [1.400647082, 103.9060066], [1.399772996, 103.9060012], [1.399085258, 103.9054714], [1.398761278, 103.904939]],
              {"bubblingMouseEvents": true, "color": "#0000FF", "dashArray": [10, 20], "dashOffset": null, "delay": 400, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "hardwareAcceleration": false, "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "paused": false, "pulseColor": "#FFFFFF", "reverse": false, "smoothFactor": 1.0, "stroke": true, "weight": 5}
        ).addTo(map_e0ffa7fd01e54cf8a4d8a8878216a538);
        
</script>